 /* reset */
 img,
 svg,
 picture,
 video {
     max-width: 100%;
 }
 
 
 /* header */

 header{
    background-color: #2C3E50;
 }

  header h6{
    font-weight: bold;
    color: white;
 }

 .hamburger-menu{
    width: 40px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
 }
 

/* jumbotron */

.jumbotron{
    background-color: #1ABC9C;
    color: white;
}

.jumbotron .img-container{
    width: 250px;
    margin: 0 auto;
}



/* portfolio */

.portfolio  img{
    border-radius: 20px;
}

/* about */

.about{
    background-color: #1ABC9C;
    color: white;
}

.about button{
    width: 120px;
    color: white;
    border-color: white;
}


/* contact-me */

.contact-me{
    height: 300px;
}


/* footer */

footer{
    height: 200px;
    background-color:#3A546D
}

footer [class*="col-"] {
   height: 50px;
   background-color: aqua;
   border: 1px solid black;
}

footer .copyright{
    height: 50px;
    background-color: #2C3E50;
}

/* utils */

.fa-star{
    font-size: 2.5rem;
}

.line {
    width: 80px;
    height: 3px;
    border-radius: 20px;
}

.line-short {
    width: 50px;
    height: 3px;
    border-radius: 20px;
}

.white{
    background-color: white;
}

.black {
    background-color: black;
}